<p>Editar información de la cuenta:</p>

<form method="post" action="/user/<%= user.id %>?_method=put" >      
  <% include _form.ejs %>
</form>

<form method="post" action="/user/<%= user.id %>?_method=delete">
	<button type="submit" onClick="return confirm('Borrar cuenta: <%= user.username %>');">
	Eliminar cuenta
	</button>
</form>